<div>
  <div>
    <h1>
      Photo details
    </h1>

    <dl>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_photo.image %>">
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.owner_id %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

<dt>Fans</dt>
<dd>List of usernames who liked the photo</dd>
      
      <dt>Add a fan</dt>
      <dd>
      <button>Like</button>
      </dd>
    </dl>
  </div>
</div>


<%= params %>


<% if current_user.id == @path_id %>
    <dt>
      Edit photo
    </dt>
    <label for="image_box">Image URL</label>
    <input type="text" id="image_box" name="query_image" value="<%= @the_photo.image %>">
    <label for="caption_box">Caption </label>
    <textarea id="caption_box" name="query_caption"><%= @the_photo.caption %></textarea>
        <button>
        Update photo
      </button>
<div>
      <label>Delete photo</label>
      <dt><a href="/delete_photo/<%= @the_photo.id %>"> <div>Delete this photo</div>
        </a>
      </dt>
</div>

    <% else %>

<h1>Comments</h1>

<table>
<tr>
<th>Commenter</th>
<th>Comment</th>
<th>Posted</th>
</tr>
      


  <% end %>

</table>

